*{
    margin: 0;
    padding: 0;
}
  
.slider-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.slider{
    width: 45rem;
    height: 30rem;
    background-color: #25282a;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
  
.meme-radios{
    display: none;
}
  
.meme-container{
    width: 35rem;
    display: flex;
    max-width: 95%;
    height: 26rem;
    overflow-x: hidden;
    align-self: center;
    margin-top: 1.6rem;
    gap: 1rem;
}
  
.meme{
    max-width: 100%;
    transition: transform 0.7s;
}
  
.labels-and-text{
    width: 34rem;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
}
  
.texts{
    width: 10rem;
    overflow: hidden;
  }
  
.text{
    color: #FFF;
    transition: transform 0.7s;
    font-size: 1rem;
    padding-top: 0.9rem;
}
  
.controls{
    display: flex;
    gap: 0.5rem;
    height: 3rem;
    align-items: center;
    cursor: pointer;
}
  
.control-wrapper{
    height: 5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
  
.control{
    width: 0.8rem;
    border: 0.0625rem solid #8d71ff;
    height: 0.8rem;
    border-radius: 1rem;
    background-color: #8d71ff;
}
  
.control:hover{
    cursor: pointer;
    background-color: white;
    border-color: white;
}
  
.control:active{
    background-color:green;
    border-color: green;
}


/* Mems movement*/
#rad1:checked ~ .meme-container > .meme{
    transform: translateX(-1rem);
}
  
#rad2:checked ~ .meme-container > .meme{
    transform: translateX(-103%);
}
  
#rad3:checked ~ .meme-container > .meme{
    transform: translateX(-207%);
}
  
#rad4:checked ~ .meme-container > .meme{
    transform: translateX(-310.8%);
}


#rad1:checked ~ .labels-and-text > .texts > .text{
    transform: translateX(0%);
}
  
#rad2:checked ~ .labels-and-text > .texts > .text{
    transform: translateX(-160%);
}
  
#rad3:checked ~ .labels-and-text > .texts > .text{
    transform: translateX(-245%);
}
  
#rad4:checked ~ .labels-and-text > .texts > .text{
    transform: translateX(-330%);
}

/* Paint if marked*/

#rad1:checked ~ .labels-and-text > .controls > #control1 > .control{
    background-color: #eaf1f6;
}
  
#rad2:checked ~ .labels-and-text > .controls > #control2 > .control{
    background-color: #eaf1f6;;
}
  
#rad3:checked ~ .labels-and-text > .controls > #control3 > .control{
    background-color: #eaf1f6;;
}
  
#rad4:checked ~ .labels-and-text > .controls > #control4 > .control{
    background-color: #eaf1f6;;
}


@media (max-width: 768px){
.slider{
    height: 35rem;
}
.labels-and-text{
    width: 45rem;
    flex-direction: column-reverse;
    margin-top: 2rem;
    padding-left: 0;
    max-width: 100%;
}

.controls{
    align-self: center;
}
}
  
  